<input type="number" class="form-control" [formControl]="field1" (blur)="ChangeFirstStream" >
<button class="btn btn-danger" style="margin-bottom: 2%;" (click)="TerminateFirstStream">
    Terminate Steam 1
</button>
<input type="number" class="form-control"  [formControl]="field2" (blur)="ChangeSecondStream" >
<button class="btn btn-danger" style="margin-bottom: 2%;" (click)="TerminateSecondStream">
    Terminate Steam 2
</button>
<div >
Merge : {{ merged$ | async }}
</div>
<div >
Scan : {{ scanned$ | async }}
</div>
<div >
Reduce : {{ reduced$ | async }}
</div>
            